input {
    font-size: 16px;
    margin: 10px;
}

button {
    margin: 10px;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    width: 1000px;
}

.title {
    text-align: justify-all;
    font-size: 25px;
}

.textSnippet {
    padding: 10px;
    margin: auto;
}

.debug {
    margin-top: 20px;
}


